@import url("http://fonts.googleapis.com/css?family=Raleway");
* {
  padding: 0;
  margin: 0; }

body {
  background-color: #3498db;
  font-family: 'Raleway', sans-serif; }

#room {
  border: transparent;
  height: 500px;
  width: 700px;
  position: relative;
  background-color: white;
  overflow: auto;}

label {
  display: inline-block;
}
#chat {
  width: 700px;
  height: 500px; }

#username {
  color: white; }

input {
  font-family: 'Raleway', sans-serif; }

#joinleave {
  color: #2980b9; }

#messages {
  text-align: left;
  overflow: auto; }

#title {
  color: white; }

#send {
  padding: 4px;
  border: 1px solid #2980b9;
  background-color: #2980b9;
  color: white; }

#usercount {
  padding: 4px;
  margin: 10px;
  bottom: 0;
  position: absolute; }

.room {
  border-right: 1px solid #27ae60;
  border: 1px solid #27ae60;
  background-color: #27ae60;
  color: white;
  border-top: transparent;
  cursor: pointer;
  width: auto;
  height: 20px;
  float: left; }

.focus {
  border: 1px solid #2ecc71;
  background-color: #2ecc71;
  border-top: transparent; }

input {
  border: transparent;
  width: 50%;
  height: 20px; }
