@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #3498db;
  font-family: 'Roboto', sans-serif;
}
#room {
  border: transparent;
  min-height: 100px;
  width: 600px;
  position: relative;
  background-color: white;
}
#chat {
  width: 600px;
  position: relative;
}
#joinleave {
  color:#2980b9;
  opacity: .8;
}
#messages {
  text-align: left;
}
#title {
  color: white;
}

#send {
  padding: 4px;
  border: 1px solid #2980b9;
  background-color: #2980b9;
  color: white;
}

#usercount {
  padding: 4px;
  margin: 10px;
  bottom: 0;
  position: absolute;
}
.room {
  border-right: 1px solid #27ae60;
  border: 1px solid #27ae60;
  background-color:#27ae60;
  color: white;
  border-top: transparent;
  cursor: pointer;
  width: 50px;
  height: 20px;
  float: left;
}
.focus {
  border: 1px solid #2ecc71;
  background-color: #2ecc71;
  border-top: transparent;
}
input {
  border: transparent;
  width: 50%;
  height: 20px;
}