@import url("http://fonts.googleapis.com/css?family=Roboto");

$font: 'Roboto', sans-serif;
$send: #2980b9;
$room: #27ae60;
$focus: #2ecc71;

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #3498db;
  font-family: $font;
}
#room {
  border: transparent;
  height: 500px;
  width: 700px;
  position: relative;
  background-color: white;
  overflow: auto;
}
#chat {
  width: 700px;
  height: 500px;
}
#username {
  color: white;
}
input {
  font-family: $font;
}
#joinleave {
  color:#2980b9;
}
#messages {
  text-align: left;
  overflow: auto;
}
#title {
  color: white;
}

#send {
  padding: 4px;
  border: 1px solid $send;
  background-color: $send;
  color: white;
}

#usercount {
  padding: 4px;
  margin: 10px;
  bottom: 0;
  position: absolute;
}
.room {
  border-right: 1px solid $room;
  border: 1px solid $room;
  background-color:$room;
  color: white;
  border-top: transparent;
  cursor: pointer;
  width: auto;
  height: 20px;
  float: left;
}
.focus {
  border: 1px solid $focus;
  background-color: $focus;
  border-top: transparent;
}
input {
  border: transparent;
  width: 50%;
  height: 20px;
}